@media screen and (min-width:768px){
        .navbar.navbar-nav{
                float:none;
                text-align:center;
        }
        .navbar.navbar-nav li{
                display:inline-block;
                float:none;
        }
}



#ponies {
    background-color: #343434;
    }

.btn.secondary {
    background-color: #343434;
}

.container {
    width: 100%;
    margin: 0 auto;

}
.white-text {

}
.blogstyle {
        background-color: #343434;
        border-radius: 25px;
        opacity: 0.9;
        color: white;
        padding: 20px;
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-custom {
        background-color: #343434;
        opacity: 0.5;
        color: white;

}

.custompad {
    padding: 70px;
}

.rounded25 {
        border-radius: 25px;
}


h1 {
  margin-bottom: 20px;
  text-align: center;
}

.lead-text {
  margin-bottom: 60px;
  text-align: center;
}

progress {
  display: block;
}

#table table {

}
  th,
  td {
    vertical-align: center;
  }

  th {
    border-bottom: 3px solid green;
    text-align: left;
  }

  .bio {
    vertical-align: top;
  }

  td {
    padding-left: 1rem;
    padding-bottom: 0.25rem;
  }

  .grand {
    padding-top: 2rem;
  }

  .line-bottom {
    border-bottom: 3px solid green;
  }

  .line-left-down {
    border-left: 3px solid green;
  }

  .line-left-up {
    border-left: 3px solid green;
  }

  .line-left {
    border-left: 3px solid green;
  }
}