@media screen and (min-width:768px){
        .navbar.navbar-nav{
                float:none;
                text-align:center;
        }
        .navbar.navbar-nav li{
                display:inline-block;
                float:none;
        }
}



#ponies {
    background-color: #5A5A5A;
}

.btn.secondary {
    background-color: #5A5A5A;
}

.container {
    width: 100%;
    margin: 0 auto;

}
.white-text {

}
.blogstyle {
        background-color: #5A5A5A;
        opacity: 0.9;
        color: white;
        padding: 20px;
}

.navbar-custom {
        background-color: #5A5A5A;
        opacity: 0.5;
        color: white;

}

.custompad {
    padding: 70px;
}




h1 {
  margin-bottom: 20px;
  text-align: center;
}

.lead-text {
  margin-bottom: 60px;
  text-align: center;
}

progress {
  display: block;
}

#table table {

}
  th,
  td {
    vertical-align: bottom;
  }

  th {
    border-bottom: 2px solid black;
    text-align: left;
  }

  .bio {
    vertical-align: top;
  }

  td {
    padding-left: 1rem;
    padding-bottom: 0.25rem;
  }

  .grand {
    padding-top: 2rem;
  }

  .line-bottom {
    border-bottom: 1px solid black;
  }

  .line-left-down {
    border-left: 1px solid black;
  }

  .line-left-up {
    border-left: 1px solid black;
  }

  .line-left {
    border-left: 1px solid white;
  }
}