@media screen and (min-width:768px){
        .navbar.navbar-nav{
                float:none;
                text-align:center;
        }
        .navbar.navbar-nav li{
                display:inline-block;
                float:none;
        }
}




#ponies {
    background: linear-gradient(to bottom left, #343434, 90%, #e8eaf9);
    }

#menus {
     background-color: #343434;

}

.btn.secondary {
    background-color: #343434;
}

.container {
    width: 100%;
    margin: 0 auto;

}
.white-text {

}
.blogstyle {
        background-color: #343434;
        border-radius: 25px;
        opacity: 0.9;
        color: white;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}




.navbar-custom {
        background-color: #343434;
        opacity: 0.5;
        color: white;

}

.custompad {
    padding: 70px;
}

.rounded25 {
        border-radius: 25px;
}


h1 {
  margin-bottom: 20px;
  text-align: center;
}

.lead-text {
  margin-bottom: 60px;
  text-align: center;
}



#table table {

}
  th,
  td {
    vertical-align: center;
  }

  th {
    border-bottom: 2px solid #9db0da;
    text-align: left;
    padding-bottom: 6px;
    margin-bottom: 6px;
  }

  .bio {
    vertical-align: top;
  }

  td {
    padding-left: 1rem;
    padding-bottom: 0.25rem;
  }

  .grand {
    padding-top: 2rem;
  }

  .line-bottom {
    border-bottom: 2px solid #9db0da;
  }

  .line-left-down {
    border-left: 2px solid #9db0da;
  }

  .line-left-up {
    border-left: 2px solid #9db0da;
  }

  .line-left {
    border-left: 2x solid #9db0da;
  }
}

