{% extends "stalmeereboer/base.html" %}
{% load static %}
{% block content %}
{% for about in abouts %}
<br><br><br>
<article class="content-section blogstyle shadow-lg">
       <div class="row">
            <div class="media col-lg-5">
                <img class="img-fluid rounded25 mr-1" src="{{ about.about_image.url }}">
            </div>
            <div class="col-lg-7" style="padding-top: 5px;">
                <div class="text-center" style="border-bottom: 3px solid #9db0da;">
                <h2 style="text-white"><a class="mt-0 article-title">{{ about.title }}</a></h2>
                </div>
                <div class="mt-2">
                    <p class="article-content">{{ about.content }}</p>
                </div>
            </div>
       </div>
</article>

{% endfor %}
{% endblock content %}
